<%- include("header") -%>

    <div class="box" id="heading">
        <h1>
            <%= day %>
        </h1>
    </div>

    <div class="box">


        <% for(var i=0;i<itemss.length;i++){ %>
            <form action="/delete" method="post">
            <div class="item">
                <input type="checkbox" name="checkbox" value="<%=itemss[i]._id%>" onChange="this.form.submit()">
                <p>
                    <%= itemss[i].name %>
                </p>
            </div>
            </form>
            <% } %>



                <form class="item" action="/" method="post">
                    <input type="text" name="newitem" placeholder="New Item" autocomplete="off">
                    <button type="submit" name="list" value="<%= day %>">+</button>
                </form>


    </div>

    <%- include("footer") -%>